body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    background: url('../images/bg.avif') center/cover no-repeat; /* Set the background image */
}

.container2 {
  position: relative;
  top:5%;
  width: 100%;
  height: 100vh;
}

.content {
    position: absolute; /* Position the content relative to the container */
    top: 10%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the content horizontally and vertically */
    z-index: 2; /* Set the z-index higher than the background (default is 0) */
    text-align: center; /* Optional: Center the text within the content div */
    color: white; /* Optional: Set text color */
}

hr.divider {
    position: absolute;
    top: 10%;
    width: 100%; /* Adjust the width as needed */
    margin: 20px auto; /* Adjust the margin as needed */
    border: none;
    border-top: 1px solid white; /* Adjust the color and style as needed */
}
.socialMedia {
  display: flex;
  justify-content: space-around; /* Distribute items evenly */
  align-items: center; /* Align items vertically center */  
  position: absolute;
  top: 40%;
  left:30%;
  width: 40%;
}

.socialMedia li {
  margin: 0 10px; /* Add some space between the links */
}

#about {
    position:relative;
    height: 100vh;
    border: 1px solid #040000;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}





  .circular-image {
    width: 100px; /* Adjust the width and height as needed */
    height: 100px;
    border-radius: 50%; /* This makes the element circular */
    overflow: hidden; /* Hide any content that might exceed the circle */
    float: left;
    margin-left: 20px;
    margin-right: 20px;
  }

  .text-section {
    position:relative;
    overflow: hidden;
    font-size:larger;
  }


  #progress_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

  .programming {
    display:flex;
    flex: 0 0 calc(50% - 10px); /* flex-grow: 0, flex-shrink: 0, flex-basis: calc(50% - 10px) */
    box-sizing: border-box; /* so that padding and border are included in the width */
    margin-bottom: 10px; /* space between rows */
    align-items: center; /* align items vertically in the center */
   }

   .icon{
    display:flex;
    justify-content: center; /* align items horizontally in the center */
    align-items: center; /* align items vertically in the center */
    flex-basis: 20%; /* allocate 20% of the container's space for the icon */
  }

  .logo{
    width:30%;
    height:auto; 
    padding-right: 10px;
  }

  .w3-blue {
    width: 72%;/* Set the length of the progress bar to 70% of the container's width */
    background-color: blue;
    height: 5px;
  }

  .w3-red {
    width: 56%;
    background-color: red;
    height: 5px;
  }

  .w3-green {
    width: 56%;
    background-color: green;
    height: 5px;
  }

  .w3-yellow {
    width: 50%;
    background-color: yellow;
    height:5px;
  }

  .w3-pink {
    width: 64%;
    background-color: pink;
    height: 5px;
  }

  .w3-purple {
    width: 72%;
    background-color: purple;
    height: 5px;

  }

  .w3-cyan {
    width: 40%;
    background-color: cyan;
    height: 5px;
  }

  .w3-light-blue {
    width: 40%;
    background-color: lightblue;
    height: 5px;
  }

  .w3-amber {
    width: 56%;
    background-color: #FFBF00;
    height: 5px;
  }

  .w3-teal {
    width: 32%;
    background-color: teal;
    height: 5px;
  }

  .w3-lime {
    width: 32%;
    background-color: lime;
    height: 5px;
  }

  .w3-orange {
    width: 32%;
    background-color: orange;
    height: 5px;
  }



#resume {
    position:relative;
    height: 50vh;
    border: none;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    color: black;
}


ul {
    list-style-type: none;
}

.banner-text {
    position: absolute; /* Position the content relative to the container */
    top: 30%; /* Adjust the top position as needed */
    left: 50%; /* Adjust the left position as needed */
    transform: translate(-50%, -50%); /* Center the content horizontally and vertically */
    z-index: 2; /* Set the z-index higher than the background (default is 0) */
    text-align: center; /* Optional: Center the text within the content div */
    color: white; /* Optional: Set text color */
    font-size:larger
}



a{
    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
}

#project-list {
  display: flex;
  height: 70vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px;
  border: 1px solid #040000;

}

#project-list h3 {
  text-align: center;
  color: white;
}

#project-list img {
  width: 500px;
  flex: 1 0 200px; /* This means the images will grow and shrink as needed, but won't be smaller than 200px */
  height: auto;
  margin: 20px; /* Adjust as needed */
}

#project-list img:hover {
  opacity: 0.5;
  cursor: pointer;
}


#project-title{
  color: black;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: xx-large;
  font-weight: bold;
}


#project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: black;
  padding: 20px;
  margin: 20px;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 20vw;
  top: 20vh;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#modal.open {
  opacity: 1;
}


#modal-content {

  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Adjust as needed */
  max-width: 500px; /* Adjust as needed */
}

#close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 16px;
  background-color: #f44336;
  color: white;
  font-size: 24px;
  cursor: pointer;
}


#project-git-url {
  display: flex;
  text-align: center;
  padding: 10px 10px;
  margin: 20px;
  font-size: larger;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#project-git{
  display: flex;
  text-align: center;
  padding: 10px 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#project-git-url:hover {
  background-color: #0056b3;
}

#contact-me {
    position:relative;
    display: flex;
    flex: column;
    justify-content: center;
    height: 100vh;
    border: none;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: url('../images/world-map.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-me h2 {
  text-align: center;
  color: black;
}

#contact-me p {
  text-align: center;
  color: black;
  font-size: 24px;
}

#contact-me a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
}

#contact-me i {
  margin-right: 5px;
  font-size: 2em;
}
