body {
    background: #a1997e; 
  }
  
  .mac {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .mac_sreen {
    background: #3f3f41;
    border: 20px solid #c9c0a3;
    width: 180px; 
    height: 130px;
    display: block;
    position: relative;
  }
  
  .mac_sreen:before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 120px;
    height: 5px;
    background: #d8d1b7;
    margin-left: -60px;
  }
  
  .mac_sreen:after {
    content: '';
    position: absolute;
    bottom: -90px;
    left: 50%;
    width: 180px;
    height: 65px;
    background: #f1ebdf;
    margin-left: -90px;
  }
  
  .mac_tower {
    width: 70px; 
    height: 25px;
    background: #a19378;
    display: block;
    z-index: 2;
    position: absolute;
    bottom: -95px;
    left: 10px;
  }
  
  .mac_tower:before {
    content: '';
    width: 40px;
    height: 3px;
    background: #000;
    position: absolute;
    left: -55px;
    top: 11px;
  }
  
  .mac_tower:after {
    content: '';
    display: block; 
    width: 30px;
    height: 10px;
    background: #c3b79d;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: -50px;
    top: 8px;
  }
  
  .mac_keyboard {
    width: 260px;
    height: 0;
    position: absolute;
    z-index: 4;
    left: 50%; 
    bottom: -115px;
    margin-left: -130px;
    border-top: 5px dashed #d8d1b7;
    box-shadow: 
      0 4px 0 #c9c0a3,
      0 8px 0 #fff,
      0 12px 0 #c9c0a3,
      0 14px 0 #c9c0a3,
      0 16px 0 #c9c0a3;
  }
  
  .mac_shadow {
      display: block;
      width: 270px;
      height: 30px;
      background: rgba(135,128,104,0.2);
      position: absolute;
      bottom: -155px;
      left: 50%;
      margin-left: -135px;
      z-index: -1;
      transform: perspective(200px) rotateX(45deg);
  }
  